 <!-- Portfolio Modals -->
 {% for post in site.data.speakers %}
    <div class="portfolio-modal modal fade" id="{{ post.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="speakers">
                    <ul>
                        {% if post.img %}
                            {% assign img = post.img %}
                        {% else %}
                            {% assign img = "TBD.png" %}
                        {% endif %}
                        {% if post.title %}
                            {% assign title = post.title %}
                        {% else %}
                            {% assign title = "" %}
                        {% endif %}
                        {% if post.description %}
                            {% assign description = post.description %}
                        {% else %}
                            {% assign description = "" %}
                        {% endif %}
                        {% if post.resume %}
                            {% assign bio = post.resume %}
                        {% else %}
                            {% assign bio = "" %}
                        {% endif %}

                        <li><img src="{{ site.url | append:site.baseurl }}/images/speakers/{{ img }}" class="img-responsive img-centered" alt="{{ post.alt }}"></li>
                        <li class="speaker-detail">
                            <div class="speaker-name">{{ post.firstname }} {{ post.name }}</div>
                            <div class="speaker-institution">{{ post.institution }}</div>
                            <div class="speaker-title">{{ title }}</div>
                            <div class="speaker-info">{{ description }}</div>
                        </li>
                    </ul>

                    <h5></h5>

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
