<!-- Clients Aside -->
<section id="soutiens" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="sponsors">
                {% for post in site.data.sponsors %}
                    <li class="col-md-4 col-sm-6">
                        <a href="{{ post.website }}" class="portfolio-link" data-toggle="modal" target="_blank">
                            <img src="{{ site.url | append:site.baseurl }}/images/sponsors/{{ post.img }}" class="sponsor-img img-responsive img-centered" alt="{{ post.alt }}" style="{{ post.style }}">
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>