<!DOCTYPE html>
<html class="no-js" lang="{% if page.language %}{{ page.language }}{% elsif site.language %}{{ site.language }}{% else %}en{% endif %}">

    {% include _head.html %}


    <body id="page-top" class="index" ondragstart="return false;" ondrop="return false;">

        {% include navigation_bar navigation = site.data.navigation home = true %}

    <!-- Header -->
    {% if page.image %}
    <header class = "image" style="background-image: url('{{ site.url | append:site.baseurl }}/images/{{ page.image }}');">
    {% else %}
    <header class = "image" style="background-image: url('{{ site.url | append:site.baseurl }}/images/header-home.jpg');">
    {% endif %}
        <div class="container">
            <div class="intro-text">
                {% if page.title %}
                    <div class="intro-heading">{{ page.title }}</div>
                {% else %}
                    <div class="intro-heading">{{ site.title }}</div>
                {% endif %}
                    <ul class="home">
                        <!-- <li><a class="btn btn-xl" href="{{ site.url | append:site.baseurl }}/registration/">REGISTRATION</a></li> -->
                        <li><a class="btn btn-xl" href="http://cp2014.a4cp.org/events/summer-schools">SEE YOU NEXT SCHOOL!</a></li>
                        <!-- <li><a class="btn btn-xl" href="https://ci.mines-stetienne.fr/pfia2022/conferences/jfpc/">À l'année prochaine</a></li>
                        <li><a class="btn btn-xl" href="https://univ-cotedazur.zoom.us/s/89766294247">ZOOM</a></br>
                            <a class="btn" style="font-size:14px" href="{{ site.url | append:site.baseurl }}/connexions/">Besoin d'aide avec Zoom ou Gather Town ?</a>-->
                            <!-- </br></br>
                                 <a class="btn btn-xl" href="https://docs.google.com/forms/d/e/1FAIpQLSeeOQuEbyIVT1dpxdZzQpe5Z0SE68uG5d0ntRY4KXHLUuHVBQ/viewform?usp=sf_link">PRIX JEUNE CHERCHEUR</a> -->
                        </li>
                        <li><div class="intro-lead-in">{{ site.date }}<br>{% if site.oldlocation %}<loc-old>{{ site.oldlocation }}</loc-old><br>{% endif %}{{ site.location }}</div></li>
                    </ul>
            </div>
        </div>
    </header>
    <script src="{{ "/css/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>


    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <ul class="bulletinfo">
                        <li>
                            <div class="bulletinfo-image conf">
                                <img class="img-circle img-responsive" src="{{ site.url | append:site.baseurl }}/assets/img/icon-about.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <p>{{ content }}</p>
                </div>
            </div>
            <div class="row justify-content-center" style="text-align:center;">
                <div class="col-lg-12">
                    <img class="image img-fluid" src="{{ site.url | append:site.baseurl }}/assets/img/participants-acpws2024.jpg" alt="Photo of all lecturers and participants" max-width="80%" height="auto">

                </div>
            </div>
        </div>
    </section>

    {% include _speakers.html %}
    {% include _speakers_info.html %}

    {% include _sponsors.html %}
    {% include _footer.html %}

    </body>
</html>
